.App {
  text-align: center;
}
.list{
  display: flex;
  flex-wrap: wrap;
}
.box-contact{
  border: 1px solid aqua;
  width: 150px;
  height: auto;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
h5{
  margin: 2px;
  display: flex;
  justify-content: space-between;
}